body {
  background-color: #efefef;
}

section {
  margin: 60px auto;
  width: 500px;
  background: none;
}

.categories,
.films {
  border: 1px #ddd solid;
  margin: 15px 0;
  background-color: rgb(255, 255, 255);
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category {
  padding: 15px 30px;
  cursor: pointer;
  transition: background 1s;
}

.categories .category:hover {
  background-color: rgba(221, 221, 230, 0.5);
}

.film {
  margin: 20px 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px dotted rgb(126, 126, 126);
}

.film .film-name {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.film .film-name:hover {
  margin-bottom: 7px;
  border-bottom: 3px double rgba(221, 221, 230, 0.5);
}

.film .film-comment {
  color: #333;
}

.film .film-comments .comment .comment-author {
  font-weight: 700;
}

.film button {
  width: 200px;
  padding: 6px;
  font-size: 12px;
  color: #333;
  margin: 20px auto 10px;
  border-radius: 6px;
}

.comment-form {
  width: 400px;
  padding: 10px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ccc;
}

.comment-form input {
  margin: 10px 5px 10px 0;
  padding: 10px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ccc;
  width: 100px;
}

input.form-comment {
  width: 200px;
}

.chosen {
  padding: 7px;
  border: 4px dotted #c9ebb2;
}
